.card_political_group{
   width: 550px;
	height: 200px;
	border-radius: 15px;
	border: 5px solid #4d3730;
	margin: 0px auto;
	background: #FFFFFF;
	padding: 10px;
}

.card_political_group_image{
   max-width: 150px;
	max-height: 150px;
	float: left;
	margin: 20px;
}

.card_political_group_image_cross{
	float: none;
	width: 100px;
	height: 100px;
	margin-top: 0px;
	visibility: hidden;
}

.card_political_group_candidate{
	text-transform: uppercase;
	margin: 10px;
}

.card_political_group_group{
	text-transform: uppercase;
	margin: 10px;
}